<html>
    <head>
        <title>happyfairy's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 11.08.2015, 01:20 am</p>
            <h2><a href="">My first post</a></h2>
            <p>lalalalalalallalala
        </div>



        <div>
            <p>published: 11.08.2015, 01:21 am</p>
            <h2><a href="">My second post</a></h2>
            <p>lalalalalalallalala2
        </div>

        
    </body>
</html>
